<ion-header>
  <ion-toolbar>
    <ion-title>
      Graficas termostato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card padding >
    <ion-card-title>Selector de fecha</ion-card-title>
    <ion-item>
      <ion-label>selecciona fecha</ion-label>
      <ion-button (click)="abrirDatePicker()" slot="end">
        <ion-datetime displayFormat="DD / MM" [(ngModel)]="fecha" (ngModelChange)="onClick()" ></ion-datetime>
      </ion-button>
    </ion-item>
  </ion-card>
<ion-card>
  <ion-card-content>
    <canvas #lineCanvas></canvas>
  </ion-card-content>
</ion-card>
<ion-card padding >
  <ion-card-title>DATOS DE FUNCIONAMIENTO</ion-card-title>
  <ion-item>
    <ion-icon slot="start" name="home"></ion-icon>
    <ion-label slot="start" >Actual</ion-label>
    <ion-label slot="end" class="ion-text-wrap" slot="end">{{actual}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="heart"></ion-icon>
    <ion-label slot="start" >Deseada</ion-label>
    <ion-label slot="end" class="ion-text-wrap" slot="end">{{deseada}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="pin"></ion-icon>
    <ion-label slot="start" >Externa</ion-label>
    <ion-label slot="end" class="ion-text-wrap" slot="end">{{externa}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="flame"></ion-icon>
    <ion-label slot="start" >Estado</ion-label>
    <ion-label slot="end" class="ion-text-wrap" slot="end">{{estado}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="thermometer"></ion-icon>
    <ion-label slot="start" >Encendido</ion-label>
    <ion-label slot="end" class="ion-text-wrap" slot="end">{{encendido}} {{(encendido/(encendido+apagado))| percent:'1.1-1'}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon slot="start" name="power"></ion-icon>
    <ion-label slot="start" >Apagado</ion-label>
    <ion-label class="ion-text-wrap" slot="end">{{apagado}} {{(apagado/(encendido+apagado))| percent:'1.1-1'}}</ion-label>
  </ion-item>
</ion-card>
<ion-card>
  <ion-card-title>DATOS DE FUNCIONAMIENTO</ion-card-title>
  <ion-item>
    <ion-icon slot="start" name="thermometer"></ion-icon>
    <ion-label slot="start" >Encendido</ion-label>
    <ion-label slot="end">{{encendido}}</ion-label>
  </ion-item>
</ion-card>

</ion-content>
