<ion-header>
  <ion-toolbar>
    <ion-title>
      Graficas termostato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-title>Selector de fecha</ion-card-title>
    <ion-item>
      <ion-label>selecciona fecha</ion-label>
      <ion-button (click)="abrirDatePicker()" slot="end">
        <ion-datetime displayFormat="DD / MM" [(ngModel)]="fecha" (ngModelChange)="onClick()" ></ion-datetime>
      </ion-button>
    </ion-item>
  </ion-card>
<ion-card>
  <ion-card-content>
    <canvas #lineCanvas></canvas>
  </ion-card-content>
</ion-card>

</ion-content>
